@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-spenddesk: #116b4e;
    --color-spenddesk-hover: #0d5940;
    --color-spenddesk-dark: #093f2d;
    --color-spenddesk-light: #188663;
    --color-spenddesk-bg: #eaf5f0;
  }

  html, body {
    color-scheme: light;
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: none;
  }
}
